/* style */ 

/* fonts */ 

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham Medium Regular.ttf');
}

@font-face {
    font-family: 'Gotham-book';
    src: url('../fonts/Gotham Book.otf');
}

/* general */

.no-padding-lr {
	padding-left: 0;
	padding-right: 0;
}

.no-padding-l {
	padding-left: 0;
}

.no-padding-r {
	padding-right: 0;
}

.margin-top-45 {
	margin-top: 45px;
}
.margin-top-90 {
	margin-top: 90px;
}
.margin-top-47 {
    margin-top: 47px;
}

footer {
	margin-top: 45px;
}

@media (min-width: 1400px) {
	  .container {
		width: 1405px;
	}
}

.container-text {
	width: 1200px;
	margin: 0 auto;
}

/* languages */

.multi-language {
	position: absolute;
	top: 30px;
	right: 30px;
}

a.fr img{
	width: 42px;
	height: 27px;
	display: inline-block;
}
a.sp img{
	width: 42px;
	height: 27px;
	display: inline-block;
}
a.en img{
	width: 42px;
	height: 27px;
	display: inline-block;
}

/* social-links */

.social-links {
	position: absolute;
	right: 30px;
	top: 90px;
}

.blue-square {
	width: 45px;
	height: 45px;
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%; 
	border-radius: 50%;
	background-color:  #51caf8;
	margin-left: 10px;
	display: inline-block;
}

.blue-square i {
    font-size: 20px;
    margin-top: 13px;
    color: #ffffff;
}

.slogan {
  font-size: 24px;
  font-family: "Gotham";
  color: #6c6c6c;
  -moz-transform: matrix( 0.88875561627923,0,0,0.88875561627923,0,0);
  -webkit-transform: matrix( 0.88875561627923,0,0,0.88875561627923,0,0);
  -ms-transform: matrix( 0.88875561627923,0,0,0.88875561627923,0,0);
}

.divider {
	background-image: url("../img/divider.png");
	width: 100%;
	height: 10px;
	height: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 38px;
}

.divider-footer {
	background-image: url("../img/divider.png");
	width: 100%;
	height: 10px;
	height: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 38px;
    margin-bottom: 50px;
}

/* navbar */

@media (min-width: 1400px) {
	  .navbar-default {
		width: 1405px;
	}
}

@media (max-width: 1400px) {
	  .navbar-default {
		width: 1170px;
	}
}

.navbar-default {
	border: 0;
	height: 60px;
	background-color: #afafaf;
	margin: 0 auto;
	border-radius: 0;
	margin-top: 55px;
	margin-bottom: 30px;
}

.navbar-nav {
	width: 100%;
}

.navbar-nav > li {
	width: 20%;
	text-align: center;
	color: #FFFFFF;
}

.navbar-nav > li {
	width: 20%;
	text-align: center;
	color: #FFFFFF;
	-webkit-transition: all .3s ease-out;
    -moz-transition:  all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.navbar-nav >li.active {
	color: #FFFFFF;
    background-color: #73b8cf;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 34px;
	font-family: 'Roboto', sans-serif;
}

.navbar-default .navbar-nav>li:hover {
    color: #FFFFFF;
    background-color: #73b8cf;
}

.navbar-default .navbar-nav>.active>a {
	background-color: transparent;
	color: #ffffff;
}

.navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #ffffff;
}

/* clients */

.clients {
	width: 100%;
	display: block;
	margin-bottom: 50px;
	float: left;
}

.col-10 {
	width: 10%;
	float: left;
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
}

.col-15 {
	width: 20%;
	float: left;
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.btn-default.references{
	width: 283px;
	height: 59px;
	padding: 0;
	outline: none;
	background-color: #afafaf;
	color: #ffffff;
	border-radius: 0;
	padding-left: 15px;
	text-align: left;
	margin-bottom: 50px;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
  	text-transform: lowercase;
  	line-height: 55px;
}

.btn-default.references > span {
	top: 7px;
	left: 10px;
	font-size: 35px;
}

/* carousel */

.carousel-inner>.item {
	max-height: 636px;
}

.title {
  font-size: 38.489px;
  font-family: "Gotham-book";
  -moz-transform: matrix( 0.93698072372567,0,0,0.93534290708829,0,0);
  -webkit-transform: matrix( 0.93698072372567,0,0,0.93534290708829,0,0);
  -ms-transform: matrix( 0.93698072372567,0,0,0.93534290708829,0,0);
  font-weight: 200;
  margin-top: 57px;
}

.comment {
  background-color: rgb(64, 188, 247);
  width: 569px;
  height: 76px;
  outline: none;
  border: 0;
  color: #ffffff;
  border-radius: 0;
  margin-top: 86px;
  font-size: 45px;
  font-family: "Roboto";
}

.img-grid {
	margin-top: 104px;
}

.thumbnail.home-img-grid {
	padding: 0;
	border: 0;
}

.thumbnail.home-img-grid > img {
	min-height: 248px;
	max-height: 248px;
}

.img-title {
  font-size: 24px;
  font-family: "Roboto";
  -moz-transform: matrix( 0.99980382236632,0,0,1.00025528391493,0,0);
  -webkit-transform: matrix( 0.99980382236632,0,0,1.00025528391493,0,0);
  -ms-transform: matrix( 0.99980382236632,0,0,1.00025528391493,0,0);
}

.img-description {
  font-size: 24px;
  font-family: "Roboto";
  color: rgb(160, 160, 160);
  -moz-transform: matrix( 0.99980382236632,0,0,1.00025528391493,0,0);
  -webkit-transform: matrix( 0.99980382236632,0,0,1.00025528391493,0,0);
  -ms-transform: matrix( 0.99980382236632,0,0,1.00025528391493,0,0);
  max-width: 440px;
}

.bot-margin {
	margin-bottom: 70px;
}

.nos-video {
  font-size: 30px;
  font-family: "Roboto";
  background-color: rgb(64, 188, 247);
  width: 414px;
  height: 59px;
  outline: none;
  border: 0;
  margin-top: 70px;
  border-radius: 0;
}

.vr-btn {
  background-color: rgb(64, 188, 247);
  width: 938px;
  height: 68px;
  color: #ffffff;
  outline: none;
  border: 0;
  border-radius: 0;
  margin-top: 65px;
}

.vr-btn > span {
  font-size: 43px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  -moz-transform: matrix( 0.49822192186187,0,0,0.50121313566378,0,0);
  -webkit-transform: matrix( 0.49822192186187,0,0,0.50121313566378,0,0);
  -ms-transform: matrix( 0.49822192186187,0,0,0.50121313566378,0,0);
}

.vr-text {
	font-family: 'Gotham-book';
	font-size: 31px;
	margin-top: 66px;
}

.vr-wrapper {
	width: 100%;
	display: block;
	float: left;
}

.camera {
	max-height: 530px;
}

/* services */

.serv-margin {
	margin-top: 45px;
}

.packshot {
	margin-top: 66px;
}

.services {
	position: relative;
	margin-top: 80px;
}

.services-labels {
	outline: none;
	background-color: #afafaf;
	color: #ffffff;
	border-radius: 0;
	text-align: left;
	font-size: 30px;
	padding: 0px 30px;
	font-family: 'Roboto', sans-serif;
  	line-height: 55px;
  	letter-spacing: 1px;
  	cursor: inherit;
  	display: inline-block;
  	vertical-align: middle;
}

.dot {
	display: inline-block;
	background-color: #afafaf;
	width: 6px;
	height: 6px;
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%; 
	border-radius: 50%;
	margin-left: 10px;
	margin-right: 10px; 
}

.service-title {
  font-size: 48px;
  font-family: "Roboto";
  color: rgb(64, 188, 247);
  margin-bottom: 40px;
}
 
.service-list {
  font-size: 31.489px;
  font-family: 'Gotham-book';
  color: rgb(42, 42, 42);
  margin-bottom: 40px;
}

ul {
	padding-left: 0;
}

li.service-list {
	list-style: none;
	padding-left: 0;
}

img.bullet {
    margin-right: 20px;
    margin-bottom: 5px;
}